<h2>Checkout</h2>

<form asp-action="PlaceOrder" method="post">

    <div class="mb-3">
        <label>Payment Method</label>
        <select name="paymentMethod" class="form-control">
            <option value="Online">Online</option>
            <option value="Offline">Cash on Delivery</option>
        </select>
    </div>

    <button class="btn btn-success">
        Place Order
    </button>

</form>
